p {
	font-size: 16px;
}

#headshot {
	float: left;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#main {
	margin-left: 10px;
}

#connect img { 
	width: 50px;
 }

 section {
 	background-image: url('images/concrete-texture.png');
 }

 #mainbody {
 	background-color: white;
 	padding: 10px;
 	margin: 10px;
 }

 @media screen and (max-width: 500px;) {
 	#headshot {
 		width: 50%;
 	}
 }